<template>
  <div class="gauge-component" :style="computedStyle" >
    <div :id="gaugeId" class="gauge-container" >
    </div>
    <div class="gauge-icon">
      <svg-icon type="mdi" :path="iconName" :size="iconSize" class="gauge-icon"></svg-icon>
    </div>
  </div>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon'
import Gauge from "svg-gauge";

export default {
  name: "Gauge",
  components: {
    SvgIcon
  },
  props: {
    name: {
      type: String,
      required: true
    },
    iconName: String,
    iconSize: Number,
    gaugeSize: String,
    value: {
      type: Number,
      default: 0
    },
    width: {
      type: String,
      default: "10%"
    },
    height: {
      type: String,
      default: "10%"
    },
    max: {
      type: Number,
      default: 255
    },
    min: {
      type: Number,
      default: 0
    },
    reverseColors: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      gauge: null,
      backwardClass: "backward",
      gaugeColors: [
	[0.1, '#009a60'],
	[0.2, '#4aa84e'],
	[0.3, '#92b73a'],
	[0.4, '#c6bf22'],
	[0.5, '#edbd02'],
	[0.6, '#ffad00'],
	[0.7, '#ff8c00'],
	[0.8, '#fc6114'],
	[0.9, '#f43021'],
	[1.0, '#ed0022']
      ],
      gaugeColorsR: [
	[0.1, '#ed0022'],
	[0.2, '#f43021'],
	[0.3, '#fc6114'],
	[0.4, '#ff8c00'],
	[0.5, '#ffad00'],
	[0.6, '#edbd02'],
	[0.7, '#c6bf22'],
	[0.8, '#92b73a'],
	[0.9, '#4aa84e'],
	[1.0, '#009a60']
      ]
    }
  },
  computed: {
    gaugeBlockStepSize() {
      return this.max / 7
    },
    gaugeId() {
      return "gauge_" + this.name
    },
    computedStyle() {
      return { width: this.width, height: this.height }
    }
  },
  watch: {
    value(newValue) {
      if (newValue < 0) {
	this.backwardClass = "backward show"
        newValue = - newValue
      } else {
	this.backwardClass = "backward"
      }
      this.gauge.setValue(newValue);
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.gauge = Gauge(document.getElementById(this.gaugeId), {
	max: this.max,
        min: this.min,
	dialStartAngle: 360,
	dialEndAngle: 180,
        showValue: false,
	value: this.value,
	color: this.setGaugeColor,
	})
    });
  },
  methods: {
    setGaugeColor(value) {
      const percentValue = value / this.max
      let colorList = this.gaugeColors
      if (this.reverseColors == true) {
        colorList = this.gaugeColorsR
      }
      for (var i=0; i < colorList.length; i++) {
        if (percentValue <= colorList[i][0]) {
          return colorList[i][1]
        }
      }
      return colorList[0][1]
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.gauge-component {
}

/* ------ Default Style ---------- */
.gauge-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: -50%;
}

.gauge-container > .gauge .dial {
  stroke: #334455;
  fill: rgba(0,0,0,0);
  stroke: #334455;
  stroke-width: 15;
}

.gauge-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  fill: rgba(0,0,0,0);
  stroke-dasharray: 25 1;
  stroke-width: 9;
}

.gauge-container > svg {
  width: 100%;
  height: 100%;
  top: -25%;
}

.gauge-container > svg .value-text {
  color: #F32450;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
  position: absolute;
  display: inline-block;
  fill: rgb(47, 227, 255);
  display: inline-block;
}

.gauge-component .unit {
  color: #F32450;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
  position: relative;
  height: 0%;
  width: 100%;
  top: 70%;
  /*-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.gauge-icon {
  color: black;
  position: relative;
  top: -100%;
}
</style>
