<template>
  <div class="light" :style="lightStyle" >
    <svg-icon type="mdi" :path="iconName" :size="iconSize" :style="iconStyle"></svg-icon>
  </div>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon'

export default {
  name: "Light",
  props: {
    iconName: String,
    iconSize: Number,
    state: Boolean
  },
  components: {
    SvgIcon
  },
  computed: {
    margin () {
      return this.iconSize / 2
    },
    lightStyle() {
      return {
	"width": (this.iconSize + this.margin) + 'px',
	"height": (this.iconSize + this.margin) + 'px',
	"border-radius": (this.iconSize + this.margin) + 'px',
	"background-color": this.state ? "#57c443": "#d5385a"
      }
    },
    iconStyle() {
      return {
	"margin-top": (this.margin / 2)+ 'px'
      }
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.light {
  color: black;
  border: 2px solid transparent;
  background-color: #d5385a;
}

</style>
